<%- include('../layouts/header.ejs') %>

<nav class="navbar bg-dark">
  <div class="col-md-9 col-lg-8 ">
    <h4 class="login-heading text-white">NeckBands</h4>
  </div>
  <div class="navbar ms-auto">
    <button class="btn btn-outline-light my-2 mx-3 my-sm-0" type="submit"><a class="text-decoration:none " href="/logout">Logout</a></button>
  </div>
</nav>

<div class="container-fluid mt-3 ">
      <div class="row mx-4">
      <% products.forEach(function(product) { %>
        <div class= "col-sm-12 col-md-6 col-lg-3  mt-4">
        <div class="card" style="width: 15rem; border: none;">
          <img src="<%= product.image %>" alt="Card image cap">
          <h4 class="mt-2">
            <%= product.CardTitle %>
          </h4>
          <p class="fs-3">
            <%= product.discription %>
          </p>
          <button class=" btn btn-dark">
            <%= product.button %>
          </button>
        </div>
      </div>
        <% }); %>
      </div>
  </div>

<%- include('../layouts/footer.ejs') %>

